<div class="card">
    <div class="card-body">
        <h5 class="card-title">Notificação</h5>
        <div class="row">
            <div class="col-md">
                <form>
                    <div class="form-group">
                        <label for="inputEmail4">Titulo</label>
                        <input type="email" class="form-control" id="inputTitulo">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword4">Texto</label>
                        <input type="text" class="form-control" id="inputTexto">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAddress">Data Inicial</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputAddress">Data Final</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <select id="inputState" class="form-control">
                                <option selected>Sim</option>
                                <option>Não</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputState">Enviar por e-mail</label>
                            <select id="inputState" class="form-control">
                                <option>Sim</option>
                                <option selected>Não</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    &nbsp;
                    <button type="submit" class="btn btn-secondary">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>