<div class="card">
    <div class="card-body">
        <h5 class="card-title">Notificação</h5>
        <div class="row">
            <div class="col-md">
                <form>
                    <div class="form-group">
                        <label for="txtNotificacaoTitulo">Titulo</label>
                        <input type="text" id="txtNotificacaoTitulo" class="form-control" #txtNotificacaoTitulo [value]="selectedItem?.notificacao_titulo">
                    </div>
                    <div class="form-group">
                        <label for="txtNotificacaoTexto">Texto</label>
                        <input type="text" class="form-control" id="txtNotificacaoTexto" #txtNotificacaoTexto [value]="selectedItem?.notificacao_texto">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtDataInicio">Data Inicial</label>
                            <input type="text" class="form-control" id="txtDataInicio" #txtDataInicio [value]="selectedItem?.notificacao_agenda_datainicio">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtDataFim">Data Final</label>
                            <input type="text" class="form-control" id="txtDataFim" #txtDataFim [value]="selectedItem?.notificacao_agenda_datafim">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="cmbHomeSistema">Exibir Home</label>
                            <select id="cmbHomeSistema" class="form-control" #cmbHomeSistema>
                                <option [selected]="selectedItem?.notificacao_homesistema">Sim</option>
                                <option [selected]="!selectedItem?.notificacao_homesistema">Não</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="cmbEmail">Enviar por e-mail</label>
                            <select id="cmbEmail" class="form-control" #cmbEmail>
                                <option [selected]="selectedItem?.notificacao_email">Sim</option>
                                <option [selected]="!selectedItem?.notificacao_email">Não</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"  (click)="salvar()">Salvar</button>
                    &nbsp;
                    <button type="submit" class="btn btn-secondary" (click)="close()">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>