<div class="row">
  <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-primary">
      <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
        <div>
          <div class="text-value-lg">9.823</div>
          <div>Não conformidades</div>
        </div>
      </div>
      <div class="c-chart-wrapper mt-3 mx-3" style="height:20px;"></div>
    </div>
  </div>
  <!-- /.col-->
  <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-info">
      <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
        <div>
          <div class="text-value-lg">9.823</div>
          <div>Planos de Ação</div>
        </div>
        <div class="btn-group">
          <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <svg class="c-icon">
              <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-settings"></use>
            </svg>
          </button>
          <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Action</a><a
              class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else
              here</a>
          </div>
        </div>
      </div>
      <div class="c-chart-wrapper mt-3 mx-3" style="height:20px;">
      </div>
    </div>
  </div>
  <!-- /.col-->
  <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-warning">
      <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
        <div>
          <div class="text-value-lg">9.823</div>
          <div>Fornecedores</div>
        </div>
      </div>
      <div class="c-chart-wrapper mt-3" style="height:20px;">
      </div>
    </div>
  </div>
  <!-- /.col-->
  <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-danger">
      <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
        <div>
          <div class="text-value-lg">9.823</div>
          <div>Riscos</div>
        </div>
      </div>
      <div class="c-chart-wrapper mt-3 mx-3" style="height:20px;">
      </div>
    </div>
  </div>
  <!-- /.col-->
</div>
<!-- /.row-->
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">Visão geral</div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-6">
                <div class="c-callout c-callout-info"><small class="text-muted">Não Conformidades -
                    Solucionadas</small>
                  <div class="text-value-lg">9</div>
                </div>
              </div>
              <!-- /.col-->
              <div class="col-6">
                <div class="c-callout c-callout-danger"><small class="text-muted">Não Conformidades - Em Andamento
                  </small>
                  <div class="text-value-lg">22</div>
                </div>
              </div>
              <!-- /.col-->
            </div>
            <!-- /.row-->
            <hr class="mt-0">
            <div class="progress-group mb-4">
              <div class="progress-group-prepend"><span class="progress-group-text">Segunda</span></div>
              <div class="progress-group-bars">
                <div class="progress progress-xs">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 34%" aria-valuenow="34"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 78%" aria-valuenow="78"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend"><span class="progress-group-text">Terça</span></div>
              <div class="progress-group-bars">
                <div class="progress progress-xs">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 56%" aria-valuenow="56"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 94%" aria-valuenow="94"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend"><span class="progress-group-text">Quarta</span></div>
              <div class="progress-group-bars">
                <div class="progress progress-xs">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 12%" aria-valuenow="12"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 67%" aria-valuenow="67"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend"><span class="progress-group-text">Quinta</span></div>
              <div class="progress-group-bars">
                <div class="progress progress-xs">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 43%" aria-valuenow="43"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 91%" aria-valuenow="91"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend"><span class="progress-group-text">Sexta</span></div>
              <div class="progress-group-bars">
                <div class="progress progress-xs">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 22%" aria-valuenow="22"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 73%" aria-valuenow="73"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend"><span class="progress-group-text">Sábado</span></div>
              <div class="progress-group-bars">
                <div class="progress progress-xs">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 53%" aria-valuenow="53"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 82%" aria-valuenow="82"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend"><span class="progress-group-text">Domingo</span></div>
              <div class="progress-group-bars">
                <div class="progress progress-xs">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 9%" aria-valuenow="9"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 69%" aria-valuenow="69"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.col-->
          <div class="col-sm-6">
            <div class="row">
              <div class="col-6">
                <div class="c-callout c-callout-warning"><small class="text-muted">Fornecedores</small>
                  <div class="text-value-lg">78</div>
                </div>
              </div>
              <!-- /.col-->
              <div class="col-6">
                <div class="c-callout c-callout-success"><small class="text-muted">Auditorias realizadas</small>
                  <div class="text-value-lg">49</div>
                </div>
              </div>
              <!-- /.col-->
            </div>
            <!-- /.row-->
            <hr class="mt-0">
            <div class="progress-group">
              <div class="progress-group-header">
                <svg class="c-icon progress-group-icon">
                  <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-user"></use>
                </svg>
                <div>Fornecedores - Em Conformidade</div>
                <div class="mfs-auto font-weight-bold">43%</div>
              </div>
              <div class="progress-group-bars">
                <div class="progress progress-xs">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 43%" aria-valuenow="43"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="progress-group mb-5">
              <div class="progress-group-header">
                <svg class="c-icon progress-group-icon">
                  <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-user-female"></use>
                </svg>
                <div>Fornecedores - Em Não Conformidade</div>
                <div class="mfs-auto font-weight-bold">37%</div>
              </div>
              <div class="progress-group-bars">
                <div class="progress progress-xs">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 43%" aria-valuenow="43"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header align-items-end">
                <svg class="c-icon progress-group-icon">
                  <use xlink:href="node_modules/@coreui/icons/sprites/brand.svg#cib-google"></use>
                </svg>
                <div>Total de Auditorias Realizadas</div>
                <div class="mfs-auto font-weight-bold mfe-2">191.235</div>
                <div class="text-muted small">(56%)</div>
              </div>
              <div class="progress-group-bars">
                <div class="progress progress-xs">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 56%" aria-valuenow="56"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header align-items-end">
                <svg class="c-icon progress-group-icon">
                  <use xlink:href="node_modules/@coreui/icons/sprites/brand.svg#cib-facebook-f"></use>
                </svg>
                <div>Total Auditorias Realizadas 2019</div>
                <div class="mfs-auto font-weight-bold mfe-2">51.223</div>
                <div class="text-muted small">(15%)</div>
              </div>
              <div class="progress-group-bars">
                <div class="progress progress-xs">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 15%" aria-valuenow="15"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header align-items-end">
                <svg class="c-icon progress-group-icon">
                  <use xlink:href="node_modules/@coreui/icons/sprites/brand.svg#cib-twitter"></use>
                </svg>
                <div>Total Auditorias Realizadas 2020</div>
                <div class="mfs-auto font-weight-bold mfe-2">37.564</div>
                <div class="text-muted small">(11%)</div>
              </div>
              <div class="progress-group-bars">
                <div class="progress progress-xs">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 11%" aria-valuenow="11"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header align-items-end">
                <svg class="c-icon progress-group-icon">
                  <use xlink:href="node_modules/@coreui/icons/sprites/brand.svg#cib-linkedin"></use>
                </svg>
                <div>Total Auditorias Realizadas 2021</div>
                <div class="mfs-auto font-weight-bold mfe-2">27.319</div>
                <div class="text-muted small">(8%)</div>
              </div>
              <div class="progress-group-bars">
                <div class="progress progress-xs">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 8%" aria-valuenow="8"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.col-->
        </div>
        <!-- /.row-->
      </div>
    </div>
  </div>
  <!-- /.col-->
</div>
<!-- /.row-->