<div class="row"  *ngIf="!editMode">
    <div class="col-md">
      <div class="card">
        <div class="card-header">
          <span><button type="button" class="btn btn-block btn-primary btnsize" (click)="new()">Adicionar Incidente</button></span>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Tipo</th>
                <th scope="col">Titulo</th>
                <th scope="col">Nome Processo</th>
                <th scope="col">Houve Parada</th>
                <th scope="col">Data</th>
                <th scope="col">Duração</th>              
                <th scope="col">Criado por</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of incidentes; let i = index">
                <th scope="row">{{item.incidente_id.slice(-12)}}</th>
                <td>{{item.incidente_tipo}}</td>
                <td>{{item.incidente_titulo}}</td>
                <td>{{item.processo_nome}}</td>
                <td>{{item.incidente_houveparada}}</td>
                <td>{{item.incidente_data}}</td>
                <td>{{item.incidente_duracao}}</td>
                <td>{{item.usuario_criacao}}</td>
                <td><button type="button" class="btn btn-primary btnacoes" (click)="view(item.incidente_id)"> Editar</button>&nbsp;<button type="button"
                    class="btn btn-danger btnacoes" data-toggle="modal" data-target="#exampleModal" (click)="selectedToExclusionId=item.incidente_id">Excluir</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="editMode">
    <div class="col-sm-6">
      <incidente-item [selectedItem]="selectedItem" (closeEvent)="closeView()"></incidente-item>
    </div>
  </div>
  <app-modal (clickYesEvent)="confirmaExclusao()" message="Deseja exlcuir este item?"></app-modal>