<div class="row" [hidden]="editMode">
    <div class="col-md">
      <div class="card">
        <div class="card-header">
          <span>Parceria com a empresa NormasWeb.</span>
        </div>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of normas; let i = index">
                <th scope="row">{{item.norma_id}}</th>
                <td>{{item.norma_nome}}</td>
                <td>{{item.norma_descricao}}</td>
                <td><button type="button" class="btn btn-primary btnacoes" (click)="view(item.norma_id)"> Visualizar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row" [hidden]="!editMode">
    <div class="col-sm-6">
      <normas-item [selectedItem]="selectedItem" (closeEvent)="closeView()"></normas-item>
    </div>
  </div>