<div class="row">
    <div class="col-md">
      <div class="card">
        <div class="card-header">
          <span><button type="button" class="btn btn-block btn-primary btnsize">Adicionar Norma</button></span>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of normas; let i = index">
                <th scope="row">{{item.norma_id}}</th>
                <td>{{item.norma_nome}}</td>
                <td>{{item.norma_descricao}}</td>
                <td><button type="button" class="btn btn-primary btnacoes"> Editar</button>&nbsp;<button type="button"
                    class="btn btn-danger btnacoes">Excluir</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <normas-item></normas-item>
    </div>
  </div>