<div class="card">
    <div class="card-body">
        <h5 class="card-title">Incidentes</h5>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="inputEmail4">Tipo</label>
                    <input type="text" ngModel class="form-control" #txtIncidenteTipo
                        [value]="selectedItem?.incidente_titulo" minlength="5" required>
                    <div class="form-group">
                        <label for="inputPassword4">Titulo</label>
                        <input type="text" class="form-control" #txtIncidenteTitulo
                            [value]="selectedItem?.incidente_titulo" required aria-errormessage="Digite o Titulo">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAddress">Nome Processo</label>
                            <input type="text" class="form-control" #txtIncidenteProcessoNome
                                [value]="selectedItem?.processo_nome">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputAddress">Houve Parada</label>
                            <select class="form-control" #cmbHouveParada>
                                <option [selected]="selectedItem?.incidente_houveparada">Sim</option>
                                <option [selected]="!selectedItem?.incidente_houveparada">Não</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">Data</label>
                            <input type="text" class="form-control" #txtIncidenteData
                                [value]="selectedItem?.incidente_data">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputState">Duração</label>
                            <input type="text" class="form-control" #txtIncidenteDuracao
                                [value]="selectedItem?.incidente_duracao">
                        </div>
                    </div>
                    <button class="btn btn-primary" (click)="salvar()">Salvar</button>
                    &nbsp;
                    <button class="btn btn-secondary" (click)="close()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>