<app-login *ngIf="authState !== 'signedin'" (authStateChangeEvent)="changeState($event)"
  (userChangeEvent)="changeUser($event)"></app-login>

<div class="c-sidebar c-sidebar-dark c-sidebar-fixed" [class.c-sidebar-show]="showMenu" 
  *ngIf="authState === 'signedin'">
  <ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-title">Sistema Gestão Qualidade</li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/">
        Dashboard</a></li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/normas">
        Normas</a></li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/incidentes">
        Incidentes</a></li>        
    <li class="c-sidebar-nav-item" *ngIf="getPerfil()"><a class="c-sidebar-nav-link" href="/notificacoes">
        Notificações</a></li>
  </ul>
</div>

<div class="c-wrapper c-fixed-components" *ngIf="authState === 'signedin'">
  <header class="c-header c-header-light c-header-fixed" style="z-index: 9000000">
    <nav class="navbar navbar-light">
      <button class="navbar-toggler" type="button" (click)="toogleMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <app-logout (authStateChangeEvent)="changeState($event)" (userChangeEvent)="changeUser($event)"
      class="c-header-nav ml-auto mr-6"></app-logout>
  </header>

  <div class="container-fluid">
    <div class="c-body">
      <main class="c-main">
        <router-outlet>
        </router-outlet>
      </main>
    </div>
  </div>
</div>