<app-login *ngIf="authState !== 'signedin'" (authStateChangeEvent)="changeState($event)"
  (userChangeEvent)="changeUser($event)"></app-login>

<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar" *ngIf="authState === 'signedin'">
  <div class="c-sidebar-brand d-lg-down-none">
    <span class="font-weight-bold mfe-2">Sistema de Gestão da Qualidade</span>
  </div>
  <ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/">
        Dashboard</a></li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/normas">
        Normas</a></li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/incidentes">
        Incidentes</a></li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/notificacoes">
        Notificações</a></li>
  </ul>
</div>

<div class="c-wrapper c-fixed-components" *ngIf="authState === 'signedin'">
  <header class="c-header c-header-light c-header-fixed" style="width: 100%; background-color: black;">
    <div class="c-subheader px-3">
      <button type="button" class="btn" style="width: 25px; height: 40px;"><span
          class="cil-menu btn-icon mr-3"></span></button>
      <app-logout (authStateChangeEvent)="changeState($event)" (userChangeEvent)="changeUser($event)"></app-logout>
    </div>
  </header>

  <div class=" container-fluid">
    <div class="c-body">
      <main class="c-main">
        <router-outlet>
        </router-outlet>
      </main>
    </div>

  </div>
</div>