.btnsize { 
    width: 140px; 
    height: 30px; 
    font-size: 11px;
}

.btnacoes { 
    height: 30px; 
    font-size: 11px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
