<div class="row" *ngIf="!editMode">
  <div class="col-md">
    <div class="card">
      <div class="card-header">
        <span><button type="button" class="btn btn-block btn-primary btnsize" (click)="new()">Adicionar Notificação</button></span>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Titulo</th>
              <th scope="col">Texto</th>
              <th scope="col">Inicio</th>
              <th scope="col">Fim</th>
              <th scope="col">Página Inicial</th>
              <th scope="col">E-mail</th>
              <th scope="col">Criado por</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of notificacoes; let i = index">
              <th scope="row">{{item.notificacao_id.slice(-12)}}</th>
              <td>{{item.notificacao_titulo}}</td>
              <td>{{item.notificacao_texto}}</td>
              <td>{{item.notificacao_agenda_datainicio}}</td>
              <td>{{item.notificacao_agenda_datafim}}</td>
              <td>{{item.notificacao_homesistema}}</td>
              <td>{{item.notificacao_email}}</td>
              <td>{{item.usuario_login}}</td>
              <td><button type="button" class="btn btn-primary btnacoes" (click)="view(item.notificacao_id)"> Editar</button>&nbsp;<button type="button"
                  class="btn btn-danger btnacoes" data-toggle="modal" data-target="#exampleModal" (click)="selectedToExclusionId=item.notificacao_id">Excluir</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="editMode">
  <div class="col-sm-6">
    <notificacao-item  [selectedItem]="selectedItem" (closeEvent)="closeView()"></notificacao-item>
  </div>
</div>
<app-modal (clickYesEvent)="confirmaExclusao()" message="Deseja exlcuir este item?"></app-modal>