<div class="row">
  <div class="col-md">
    <div class="card">
      <div class="card-header">
        <span><button type="button" class="btn btn-block btn-primary btnsize">Adicionar Notificação</button></span>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Titulo</th>
              <th scope="col">Texto</th>
              <th scope="col">Inicio</th>
              <th scope="col">Fim</th>
              <th scope="col">Página Inicial</th>
              <th scope="col">E-mail</th>
              <th scope="col">Criado por</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Auditoria chegando!</td>
              <td>Fique ligado, teremos uma auditoria no dia 30/03/2021.</td>
              <td>01/02/2021</td>
              <td>30/03/2021</td>
              <td>Sim</td>
              <td>Não</td>
              <td>Gestor</td>
              <td><button type="button" class="btn btn-primary btnacoes"> Editar</button>&nbsp;<button type="button"
                  class="btn btn-danger btnacoes">Excluir</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <notificacao-item></notificacao-item>
  </div>
</div>